<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <material name="blue">
    <color rgba="0 0 0.8 1"/>
  </material>
  
  <xacro:macro name="myObject"/>

  <link name="object_link">
    <visual>
      <origin xyz="0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.05 0.05"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <origin xyz="0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0.0 0.0" rpy="0 0 0"/>
      <mass value="0.5" />
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
    </inertial>
  </link>
    
</robot>
