<?xml version="1.0"?>
<launch>
<!--   <arg name="model" default="$(find tf_tutorial)/urdf/myRobot.urdf.xacro"/> -->
  <arg name="model_object" default="$(find tf_tutorial)/urdf/myObject.urdf.xacro"/>
  <arg name="rvizconfig" default="$(find tf_tutorial)/rviz/myRobot.rviz" />
  <arg name="limited" default="false"/>
  <arg name="paused" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="sim" default="true"/>
  
  <include file="$(find ur_gazebo)/launch/ur3_bringup.launch">
  </include>
  
  <param name="object_description" command="$(find xacro)/xacro $(arg model_object)" />
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />
  
  <node name="spawn_gazebo_object_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param object_description -model object -z 2.45 -x 0.2 -y 0.3" respawn="false" output="screen" />
  
  <node name="object_tf_publisher" pkg="tf_tutorial" type="publish_object_state.py"/>
  
</launch>
